.account-sprite {
  background: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/account-sprite.png?20171106150234) -12px -145px no-repeat;
  background-size: 250px;
  padding-left: 3rem;
}
