.store-banner-big {
  height: 200px;
  max-width: 100%;
  background: url(https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/_jpg/store/shop-in-store.jpg?20171207190136) center center no-repeat;
}
.store-banner-small {
  height: 200px;
  max-width: 100%;
  background: url(https://d9qzjwuieyamt.cloudfront.net/5.2.23/res/images/_jpg/store/shop-in-store_mob.jpg?20171207190136) center center;
}

.about-us-store {
  background-color: #1d1e1f;
  margin-bottom: 2rem;
  padding: .75rem 0 1rem;
  color: #fff;
  h1 {
    color: #fff;
    font-size: 2rem;
  }
}
