// Logos

.logo {
  display: block;
  background: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/layout-sprite-uk.png?20170829201433)
    24px 3px;
  background-size: 500px;
  width: 224px;
  height: 90px;
}
.trust-pilot-logo {
  background: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/layout-sprite.png?20170826190554)
    -140px 0;
  height: 1.2em;
  width: 4.7rem;
  display: inline-block;
  margin: 0 auto;
}
