section.col-12.col-md-8.col-lg-9.help-main
  .text-center
    br
    h1.black Production and Delivery Timescales
    ShareButtons
    br
    .text-center
      img(alt='Worldwide delivery from SelectSpecs.com',
      height='306px', width='765px',
      src='https://d9qzjwuieyamt.cloudfront.net/res/uploads/images/world-map.jpg').img-fluid
      br
      h2
        strong FREE
        |  International Delivery*
      p
        strong Spend over ₴2881.50 to qualify for free Super Saver delivery
      br
      p.small
        em
          | *Not applicable for reglaze orders. Ensure you select the 
          strong Super Saver
          |  delivery option at checkout.
  br
  hr
  br
  .delivery-panel
    .row
      .col-12
        p.large
          strong Production Information
        p
          | 90% of our orders are completed within
          strong  7-10 working days*
          | . On rare occasions, your order may take slightly longer due to:-
        br
        ul
          li    Unforeseen delays in the production process.
          li
            | Requirement of specialist glazing to ensure best possible finish and thinnest lenses.
          li    Sudden change in frame availability.
          li
            | Failure to meet our strict quality control guidelines -&nbsp;
            a(href='/info/quality-control/').blue-ul Find out more about our Quality Control »
            | .
        p
          | In these cases, we will contact you as soon as we can by email to ensure you’re kept fully up to date.
        br
        p
          | If you're choosing to reglaze your own glasses (replacing the existing lenses), we will not process your order until we are in receipt of your glasses – we advise customers to send frames to us via an insured method to ensure safe delivery as we cannot be held responsible for items lost in the post. Please see our&nbsp;
          strong
            a(href='/lens-replacement/').blue-ul reglaze page
          |  for further details.
        br
        p
          strong Not happy with your purchase?
          br
          |   If you're not happy with your purchase and would like to return an item for refund, for whatever reason, please contact our customer services team who will be able to assist you. Please see our&nbsp;
          a(href='/info/returns/').blue-ul returns and refunds
          |  policy for more information.
        br
        p.small
          em
            | *Working days are classed as Monday to Friday (excluding public holidays), during which time our lab and dispatch departments are in operation.
        br
        hr
        br
        p.large
          strong Delivery Information
        p
          | We ship our prescription glasses and sunglasses globally with a standard shipping rate starting from only&nbsp;
          strong ₴228.60
          | . Courier options available – See below for details and charges.
        br
        p
          | After an order is completed and dispatched, we estimate an arrival time within 7-10 days depending on selected delivery method and location. Here’s a summary of our estimated delivery times:-
        br
      .col-12.col-md-6
        .orange-block
          p.large
            strong Designer Items
          p.small
            em Shipped from the UK to...
          br
          ul
            li
              strong UK
              |  - Usually 1-3 days
            li
              strong Europe
              |  - Usually 3-5 days
            li
              strong USA / Canada
              |  - Usually 3-5 days
            li
              strong Australia / NZ
              |  - Usually 3-5 days
            li
              strong Rest of the World
              |  - Usually 5-7 days
      .col-12.col-md-6
        .orange-block
          p.large
            strong Budget Items*
          p.small
            em Shipped from the UK to...
          br
          ul
            li
              strong UK
              |  - Usually 1-3 days
            li
              strong Europe
              |  - Usually 3-5 days
          p.small
            em Shipped from Hong Kong to...
          br
          ul
            li
              strong USA / Canada
              |  - Usually 7-10 days
            li
              strong Australia / NZ
              |  - Usually 7-10 days
            li
              strong Rest of the World
              |  - Usually 7-10 days
      .col-12
        br
        p.small
          em
            | Please allow up to 2 weeks for delivery (from date of dispatch) as most items will be delivered within this time. If your order does not arrive after this time please check with your local mailing office or contact our customer service team.
        br
        p.small
          em
            | *Budget items are our own branded products.  This includes Savannah, Arbor, Hallmark, Sirius, Infinity, Icon, Explorer, Novus, Orion, Stellar, and Tesla.
        br
        hr
        br
        p.large
          strong Shipping Methods
        p
          em Our quoted delivery times are always from date of order completion and dispatch.
        br
        p
          strong FREE Super Saver Delivery
        p.small
          em
            | Tracking details are&nbsp;
            strong
              u not
            |  available for this option.
        p
          | Spend over ₴2881.50 to qualify for this delivery option. You'll need to select this option at checkout to get free delivery.
          br
          br
          |   Your order will be sent to you via Royal Mail 1st/2nd class. If ordering outside the UK, your order will be transferred to your local mail service (ie, USA = US Postal Service, Australia = Australia Post). Delivery will normally be within 3 days to UK customers and up to 7-10 days (following dispatch) depending on the country your order is being dispatched to.
        br
        p
          strong Standard Mail - from ₴228.60
        p.small
          em
            | Tracking details are&nbsp;
            strong
              u not
            |  available for this option.
        p
          | We will send your order to you via Royal Mail 1st/2nd class. If ordering outside the UK, your order will be transferred to your local mail service (ie, USA = US Postal Service, Australia = Australia Post). Delivery will normally be within 3 days to UK customers and up to 7-10 days (following dispatch) depending on the country your order is being dispatched to.
        br
        p
          strong Royal Mail Special Delivery – from ₴343.86 (UK Only)
        p
          | We will send your order to you via Royal Mail Special Delivery. Delivery is guaranteed to arrive next day (before 1pm - Mon–Sat) following order completion and dispatch.
        br
        p
          strong DPD Courier (UK) – from ₴343.86
        p
          | We will send your order to you via DPD courier service. Delivery is next day (Mon-Fri) following order completion and dispatch to UK addresses although times can vary for offshore addresses. See table below for details.
        br
        table.table.courier-price
          thead
            tr
              th(width='33%')      Offshore Address
              th(width='33%')      Delivery Rate
              th(width='34%')      Estimated Transit Time
          tbody
            tr
              td      Northern Ireland
              td      ₴633.93
              td      Next day
            tr
              td      Channel Islands
              td      ₴633.93
              td      2 days
            tr
              td      Isle of Man
              td      ₴633.93
              td      2 days
            tr
              td      Scottish Highlands / Islands
              td      ₴633.93
              td      2 days
        br
        p
          strong DPD Courier (Europe) – from ₴420.70
        p
          | We will send your order to you via DPD courier service. Delivery is usually within 3 days of order completion and dispatch to most of Europe although delivery times can vary depending on country. See table below for details.
        br
        table.table.courier-price
          thead
            tr
              th(width='33%')      Country
              th(width='33%')      Delivery Rate
              th(width='34%')      Estimated Transit Time
          tbody
            tr
              td      Austria
              td      ₴420.70
              td      3 days
            tr
              td      Belgium
              td      ₴420.70
              td      2 days
            tr
              td      Bosnia
              td      ₴3302.20
              td      6 days
            tr
              td      Bulgaria
              td      ₴2072.76
              td      Up to 7 days
            tr
              td      Canary Islands
              td      ₴3379.04
              td      5 days
            tr
              td      Croatia
              td      ₴2072.76
              td      6 days
            tr
              td      Denmark
              td      ₴459.12
              td      3 days
            tr
              td      Estonia
              td      ₴2072.76
              td      5 days
            tr
              td      Finland
              td      ₴804.90
              td      5 days
            tr
              td      France
              td      ₴420.70
              td      2 days
            tr
              td      Germany
              td      ₴420.70
              td      2 days
            tr
              td      Greece
              td      ₴1227.52
              td      Up to 9 days
            tr
              td      Iceland
              td      ₴3302.20
              td      6 days
            tr
              td      Italy
              td      ₴612.80
              td      4 days
            tr
              td      Latvia
              td      ₴612.80
              td      6 days
            tr
              td      Lithuania
              td      ₴2072.76
              td      6 days
            tr
              td      Luxembourg
              td      ₴1304.36
              td      2 days
            tr
              td      Netherlands
              td      ₴420.70
              td      2 days
            tr
              td      Norway
              td      ₴3302.20
              td      6 days
            tr
              td      Poland
              td      ₴420.70
              td      5 days
            tr
              td      Portugal
              td      ₴651.22
              td      5 days
            tr
              td      Republic of Ireland
              td      ₴1573.30
              td      Next day
            tr
              td      Romania
              td      ₴2072.76
              td      6 days
            tr
              td      Russia
              td      ₴3379.04
              td      Up to 8 days
            tr
              td      Serbia
              td      ₴3302.20
              td      Up to 7 days
            tr
              td      Slovakia
              td      ₴1842.24
              td      4 days
            tr
              td      Slovenia
              td      ₴2072.76
              td      5 days
            tr
              td      Spain
              td      ₴497.54
              td      4 days
            tr
              td      Sweden
              td      ₴574.38
              td      5 days
            tr
              td      Switzerland
              td      ₴2841.16
              td      3 days
        br
        p
          strong FedEx Courier (Europe, USA and Rest of the World) - from ₴689.64
        p
          | We will send your order to you via FedEx courier service. Delivery to USA & Canada is next day following order completion and dispatch, with other European and Oceania regions taking slightly longer. See table below for details.
        br
        table.table.courier-price
          thead
            tr
              th(width='33%')      Country
                th(width='33%')      Delivery Rate
                th(width='34%')      Estimated Transit Time
          tbody
            tr
              td      Australia
              td      ₴881.74
              td      3 days
            tr
              td      New Zealand
              td      ₴766.48
              td      4 days
            tr
              td      USA
              td      ₴689.64
              td      Next day
            tr
              td      Canada
              td      ₴689.64
              td      Next day
            tr
              td      South Africa
              td      ₴1534.88
              td      7 days
            tr
              td      Russia
              td      ₴1344.70
              td      3 days
            tr
              td      Ukraine
              td      ₴958.58
              td      4 days
        br
        hr
        br
        p.large
          strong Shipping Delays
        br
        p
          strong Royal Mail / Standard Mail Services
        p
          | If your order does not arrive within the stated times, please do not worry; it is very likely that it will arrive very soon and may have just been delayed slightly in the mailing system. In line with Royal Mail guidelines, we will not consider a package lost until 2 weeks have passed. This is because the vast majority of packages will be delivered or returned to us as 'undeliverable' within this time.
        br
        p
          strong DPD / FedEx Courier 
          strong Services
        p
          | If your order does not arrive within the times stated above, please do not worry; it is very likely that it will be held at your local DPD / FedEx depot. In line with DPD / FedEx guidelines, we will not consider a package lost until 2 weeks have passed. This is because the vast majority of packages will be delivered or returned to us as 'undeliverable' within this time.
        br
        p
          strong What to do if a parcel is delayed
        p
          | If your order has not arrived after 2 weeks, you can check with your local mailing office or you can contact us to arrange a replacement.
          br
          br
          |   When contacting us via email, please Include your order number, name and the date of dispatch. We will send you a non-delivery form that must be completed so we can use as evidence of non-receipt in our claim with our shippers. This does not apply to customer's own items or to reglazes which are sent at the customer's risk unless we agree otherwise in writing.
        br
