.account-sprite {
  background: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/account-sprite.png?20171106150234) no-repeat;
  background-size: 250px;
  padding-left: 4.5rem;
  margin-bottom: 4rem;
}

.acct-menu {
  background-position: 0 0;
}
.acct-script {
  background-position: 0 -145px;
}
.acct-helpdesk {
  background-position: 0 -291px;
}
.acct-wishlist {
  background-position: 0 -492px;
}
.acct-profile {
  background-position: 0 -70px;
}
.acct-setting {
  background-position: 0 -217px;
}
.acct-reviews {
  background-position: 0 -362px;
}
.acct-basket {
  background-position: 0 -427px;
}
