.payment-frame {
  width: 100%;
  overflow-y: hidden;
  min-height: 36rem;
}
.frame-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 36rem;
}
